<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Analyse de la vidéo</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
        <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/chart.js/dist/Chart.min.css">
        <link rel="stylesheet" href="/assets/vendor/ion.rangeSlider/css/ion.rangeSlider.min.css">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Analyse vidéo</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item"><a href="/list_video" class="breadcrumb-link">Liste des vidéos</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Analyse vidéo</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <div class="card">
                                <div class="card-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video class="img-fluid" id="video" controls="true" buffered>
                                            <source src="/videos/<%= body.video.namespace %>/<%= body.video.name %>" />
                                        </video>
                                    </div>
                                </div>

                                <div style="margin: 0px;" class="card-body">
                                    <h3 class="card-title"><%= body.video.namespace %></h3>
                                    <h6 class="card-title"><a href="/analyse_video/<%= body.video._id %>"><%= body.video.name %></a> téléchargé par <a href="http://127.0.0.1:8000/profil/<%= body.video.username %>"><%= body.video.username %></a> <%= body.video.date %></h6>
                                    <% if (body.video.description) { %>
                                    <p style="padding: 10px; background-color: rgba(0, 0, 0, 0.03); border-left: solid rgba(0, 0, 0, 0.1);"><%= body.video.description %></p>
                                    <% } %>
                                    <% if (body.video.tags != undefined && body.video.tags.length > 0) { %>
                                    <% body.video.tags.forEach((tag) => { %>
                                    <span class="badge badge-info"><%= tag %></span>
                                    <% }) %>
                                    <% } %>
                                    <div style="padding: 0px;" class="card-body">
                                        <p class="card-text">
                                        <%= body.description %>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nom du fichier</th>
                                                    <th scope="col">Taille en octets</th>
                                                    <th scope="col">Encodage</th>
                                                    <th scope="col">Extension</th>
                                                    <th scope="col">MD5</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><%= body.video.name %></td>
                                                    <td><%= body.video.size %></td>
                                                    <td><%= body.video.encoding %></td>
                                                    <td><%= body.video.mimetype %></td>
                                                    <td><%= body.video.md5 %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <div id="<%= body.video._id %>">
                                            <a href="#" data-toggle="modal" id="analyzeBtn" class="btn btn-primary"><span class="fas fa-play"></span> Analyser</a>
                                            <a href="/area_video/<%= body.video._id %>" class="btn btn-primary"><span class="fas fa-external-link-alt"></span> Zones</a>
                                            <a title="Editer la vidéo" style="color: #ffffff;" id="editVideoBtn" name="edit" class="btn btn-primary"><span class="fas fa-edit"></span> Modifier les informations</a>
                                            <a title="Supprimer la vidéo" id="trash" href="#" class="btn btn-outline-danger"><span class="fas fa-trash"></span> Supprimer la vidéo</a>
                                        </div>
                                        </p>
                                    </div>
                                </div>

                                <!-- Wait Modal -->
                                <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">En cours de chargement</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Une analyse est en cours, veuillez patienter.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Success Modal -->
                                <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Analyse en cours</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Cette vidéo est actuellement en cours d'analyse, vous pouvez continuer vos recherches en parallèle.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Export Modal !-->
                                <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Export Vidéo</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>La vidéo est en cours de découpage, vous allez être redirigé.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Edit Modal -->
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group row">
                                                    <label class="col-3 col-sm-3 col-form-label text-sm-right">Nom de domaine</label>
                                                    <div class="col-9 col-sm-9 col-lg-6 input-group">
                                                        <input type="text" class="form-control" placeholder="<%= body.namespace %>" id="editDomainInput" required>
                                                        <button class="btn btn-primary" id="editDomainBtn" data-target="#namespaceInput">Modifier</button>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-3 col-sm-3 col-form-label text-sm-right">Description</label>
                                                    <div class="col-9 col-sm-9 col-lg-6 input-group">
                                                        <input type="text" class="form-control" placeholder="<%= body.description %>" id="editDescriptionInput" required>
                                                        <button class="btn btn-primary" id="editDescriptionBtn" data-target="#descriptionInput">Modifier</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- Tabs !-->
                    <div style="margin-bottom: 30px;" class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="simple-card">
                                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active border-left-0" id="home-tab-simple" data-toggle="tab" href="#home-simple" role="tab" aria-controls="home" aria-selected="true">Vue graphique</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab-simple" data-toggle="tab" href="#profile-simple" role="tab" aria-controls="profile" aria-selected="false">Vue tableau</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent5" style="padding: 0px;">
                                    <div class="tab-pane fade show active" id="home-simple" role="tabpanel" aria-labelledby="home-tab-simple">
                                        <div style="padding-bottom: 0px; margin-bottom: 0px;" class="card-body">
                                            <canvas id="detectionsStats"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile-simple" role="tabpanel" aria-labelledby="profile-tab-simple">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive"style="overflow: scroll; max-height: 500px;">
                                                            <table class="table table-striped table-bordered first" >
                                                                <thead>
                                                                    <tr>
                                                                        <th>Seconde</th>
                                                                        <th>Catégorie</th>
                                                                        <th>Couleur</th>
                                                                    </tr>
                                                                </thead>
                                                                    <tbody id="arrayDets">
                                                                    </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th>Seconde</th>
                                                                        <th>Catégorie</th>
                                                                        <th>Couleur</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top: 0px; padding-bottom: 0xp; margin-bottom: 1px;" class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="m-3">
                                                <div class="m-3">
                                                    <input type="text" id="rgSlider" class="js-range-slider" name="my_range" value=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button data-toggle="modal" id="exportBtn" class="btn btn-primary btn-lg btn-block">Exporter un extrait vidéo</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h5 class="card-header text-center">Rechercher des détections</h5>
                            <form action="/dalle_video/<%= body.video._id %>" method="post">
                                <div class="card-group">
                                    <div class="card">
                                        <h5 class="card-header">Catégories</h5>
                                        <div class="card-body">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="voiture" class="custom-control-input">
                                                <span class="custom-control-label">Voiture</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="personne" class="custom-control-input">
                                                <span class="custom-control-label">Personne</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="camion" class="custom-control-input">
                                                <span class="custom-control-label">Camion</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="velo" class="custom-control-input">
                                                <span class="custom-control-label">Vélo</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="moto" class="custom-control-input">
                                                <span class="custom-control-label">Moto</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="bus" class="custom-control-input">
                                                <span class="custom-control-label">Bus</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="sacados" class="custom-control-input">
                                                <span class="custom-control-label">Sac à Dos</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="sacamain" class="custom-control-input">
                                                <span class="custom-control-label">Sac à main</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="valise" class="custom-control-input">
                                                <span class="custom-control-label">Valise</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="animal" class="custom-control-input">
                                                <span class="custom-control-label">Animal</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <h5 class="card-header">Couleurs</h5>
                                        <div class="card-body">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="rouge" class="custom-control-input">
                                                <span class="custom-control-label">Rouge</span>
                                                <span class="badge-dot" style="background-color: #ff0000;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="orange" class="custom-control-input">
                                                <span class="custom-control-label">Orange</span>
                                                <span class="badge-dot" style="background-color: #ff9000;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="jaune" class="custom-control-input">
                                                <span class="custom-control-label">Jaune</span>
                                                <span class="badge-dot" style="background-color: #ffff00;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="vert" class="custom-control-input">
                                                <span class="custom-control-label">Vert</span>
                                                <span class="badge-dot" style="background-color: #2ca500;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="vertclair" class="custom-control-input">
                                                <span class="custom-control-label">Vert clair</span>
                                                <span class="badge-dot" style="background-color: #91ff70;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="bleu" class="custom-control-input">
                                                <span class="custom-control-label">Bleu</span>
                                                <span class="badge-dot" style="background-color: #0237cc;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="bleuciel" class="custom-control-input">
                                                <span class="custom-control-label">Bleu ciel</span>
                                                <span class="badge-dot" style="background-color: #6db1ff;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="violet" class="custom-control-input">
                                                <span class="custom-control-label">Violet</span>
                                                <span class="badge-dot" style="background-color: #9d6dff;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="magenta" class="custom-control-input">
                                                <span class="custom-control-label">Rose/magenta</span>
                                                <span class="badge-dot" style="background-color: #fa6dff;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="noir" class="custom-control-input">
                                                <span class="custom-control-label">Noir</span>
                                                <span class="badge-dot" style="background-color: black;"></span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="blanc" class="custom-control-input">
                                                <span class="custom-control-label">Blanc</span>
                                                <span class="badge-dot" style="background-color: white;border-style: solid;border-width: 1px;border-color: grey;"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <h5 class="card-header">Zones</h5>
                                        <div class="card-body">
                                            <% if (body.areas.areas && body.areas.areas.length > 0) { %>
                                            <% body.areas.areas.forEach((area) => { %>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="area_<%= area.name %>" class="custom-control-input">
                                                <span class="custom-control-label"><%= area.name %></span>
                                            </label>
                                            <% }) %>
                                            <% } else { %>
                                            <div style="padding: 30px; height: 100%; border: 2px dashed #3D405C" class="col-12 jumbotron">
                                                <h3 class="display-7">Aucune zone</h3>
                                                <hr class="my-4">
                                                <p>Aucune zone n'a été sélectionnée sur cette vidéo.</p>
                                                <p class="lead">
                                                <a class="btn btn-primary btn-lg" href="/area_video/<%= body.video._id %>" role="button">Encadrer des zones</a>
                                                </p>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <input class="btn btn-primary" style="width: 100%; padding: 12px; font-size: 16px" type="submit" value="Rechercher">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <% include inc/footer.ejs %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/vendor/socket.io-client/dist/socket.io.js"></script>
        <script src="/assets/vendor/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="/js/analyze_video.js"></script>
    </body>
</html>
