<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Export vidéo</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <div class="nav-left-sidebar sidebar-dark">
                <div class="menu-list">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="d-xl-none d-lg-none" href="/">Export vidéo</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    Menu
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/" data-toggle="" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Tableau de bord <span class="badge badge-success">6</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/list_video" data-toggle="" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fas fa-th-list"></i>Liste des vidéos <span class="badge badge-success">6</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/add_video" data-toggle="" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-calendar-plus"></i>Ajout de vidéos <span class="badge badge-success">6</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/search_video" data-toggle="" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fas fa-search"></i>Recherche de vidéos <span class="badge badge-success">6</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Export vidéo</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb"></ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card">
                                <h5 class="card-header">Export vidéo header</h5>
                                <div class="card-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video class="img-fluid" id="video" controls="true" buffered>
                                            <source src="/videos/<%= body.namespace %>/<%= body.name %>" />
                                        </video>
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex">
                                        <div class="col-5 d-flex align-items-stretch">
                                            <div class="">
                                                <h5 class="text-center">Début</h5>
                                                <div class="">
                                                    <img src="/public/img/test1.png" class="card-img" alt="horizon_alt">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2 d-flex flex-fill align-items-stretch justify-content-center align-self-center">
                                            <div class="">
                                                <div class="text-center">
                                                    <i class="fas fa-angle-double-right text-primary" style="font-size: 70px;"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-5 d-flex align-items-stretch">
                                            <div class="">
                                                <h5 class="text-center">Fin</h5>
                                                <div class="">
                                                    <img src="/public/img/test2.png" class="card-img" alt="horizon_alt">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="m-3">
                                                <div class="m-3">
                                                    <input type="range" id="rgSlider" class="js-range-slider" name="my_range" value=""/>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-lg btn-block">Exporter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <% include inc/footer.ejs %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script type="text/javascript">
            function my_prettify (num) {
                var h;
                var m;
                var ret = "";

                h = Math.floor(num / 60);
                m = num - h * 60;
                return h + "h" + m + "m";
            };

            $("#rgSlider").onRangeSlider({
                skin: "big",
                type: "double",
                grid: true,
                min: 0,
                max: 1000,
                from: 0,
                to: 1000,
                postfix: "min",
                step: 1,
                prettify: my_prettify
            });
        </script>
    </body>
</html>