<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Rechercher une video</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/assets/vendor/tagmanager/tagmanager.css">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Rechercher des vidéos</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Rechercher des vidéos</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Formulaire de recherche</h5>
                                <div class="card-body">
                                    <div onclick="filterSearch()" class="form-group row">
                                        <div class="col-12 col-sm-12 col-lg-12">
                                            <input onkeyup="filterSearch()" type="text" id="tagsVideo" name="tags" placeholder="Insérer une ou plusieurs caractéristiques (tags)" class="form-control tm-input"/>
                                        </div>
                                    </div>
                                    <div class="input-prepend mb-3">
                                        <select id="domainFilter" class="custom-select" onclick="filterSearch()">
                                            <option value="*" selected>Tous</option>
                                            <% if (body.namespaces.namespaces.length != undefined) { %>
                                                <% body.namespaces.namespaces.forEach((namespace) => { %>
                                            <option value="<%= namespace %>"><%= namespace %></option>
                                                <% }) %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="inputFilter" onkeyup="filterSearch()" aria-label="Text input with dropdown button" placeholder="Taper le nom de la vidéo ici">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Rechercher</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="card">
                                                <h5 class="card-header">Résultat(s)</h5>
                                                <div class="card-body">
                                                    <% if (body.videos.videos.length > 0) { %>
                                                    <div class="table-responsive">
                                                        <table id="filterTable" class="table table-striped table-bordered first">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nom</th>
                                                                    <th>Domaine</th>
                                                                    <th>Auteur</th>
                                                                    <th>Date de téléchargement</th>
                                                                    <th>tags</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% body.videos.videos.forEach((video) => { %>
                                                                <tr>
                                                                    <td><a href="/analyse_video/<%= video._id %>"><%= video.name %></a></td>
                                                                    <td><%= video.namespace %></td>
                                                                    <td><%= video.username %></td>
                                                                    <td><%= video.date %></td>
                                                                    <% if (video.tags.length > 0) { %>
                                                                    <td>
                                                                        <% video.tags.forEach((tag) => { %>
                                                                        <div id="<%= tag %>">
                                                                            <span class="badge badge-primary"><%= tag %></span>
                                                                        </div>
                                                                        <% }) %>
                                                                    </td>
                                                                    <% } %>
                                                                    <td id="<%= video._id %>" width="345">
                                                                        <a name="analyze" href="#" class="btn btn-primary"><span class="fas fa-play"></span> Analyser</a>
                                                                        <a href="/area_video/<%= video._id %>" class="btn btn-primary"><span class="fas fa-external-link-alt"></span> Zones</a>
                                                                        <a name="trash" href="#" class="btn btn-outline-danger"><span class="fas fa-trash"></span> Supprimer</a>
                                                                    </td>
                                                                </tr>
                                                                    <% }) %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <% } else { %>
                                                    <div class="col-12 jumbotron">
                                                        <h3 class="display-5">Aucune vidéo</h3>
                                                        <hr class="my-4">
                                                        <p>Aucune vidéo n'a été trouvée sur cette page, vous pouvez importer des vidéos à analyser.</p>
                                                        <p class="lead">
                                                            <a class="btn btn-primary btn-lg" href="/add_video" role="button">Importer des vidéos</a>
                                                        </p>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- Wait Modal -->
                    <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">En cours de chargement</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Une analyse est en cours, veuillez patienter.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Success Modal -->
                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Analyse en cours</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Cette vidéo est actuellement en cours d'analyse, vous pouvez continuer vos recherches en parallèle.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/tagmanager/tagmanager.js"></script>
        <script src="/js/search_video.js"></script>
        <script>
            jQuery(".tm-input").tagsManager();
        </script>
    </body>
</html>
