.padding-0 {
    padding-right:9px;
    padding-left:0px;
}

.card {
	margin-bottom: 10px;
}

.dashboard-wrapper {
	position: relative;
	left: 0;
	margin-left: 290px;
}

.dashboard-main-wrapper {
	min-height: 100%;
	padding-top: 78px;
	position: relative;
}